<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>airspeed1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{569, 379}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>airspeed2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 381}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>airspeed3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 190}</string>
			<key>spriteSourceSize</key>
			<string>{187, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 0}, {187, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>airspeed4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 190}</string>
			<key>spriteSourceSize</key>
			<string>{187, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 191}, {187, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>landspeed1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 561}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>landspeed2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 383}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>landspeed3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 192}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>landspeed4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 190}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{150, 134}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 568}, {150, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 568}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 572}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 722}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{150, 134}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 704}, {150, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {130, 150}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 720}, {130, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>return.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{341, 572}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shop1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 874}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shop2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 570}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {129, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{129, 53}</string>
			<key>spriteSourceSize</key>
			<string>{129, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 934}, {129, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {192, 178}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{192, 178}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {192, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {170, 182}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{170, 182}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 750}, {170, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 10}, {152, 182}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{152, 182}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 724}, {152, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {170, 182}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{170, 182}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 750}, {170, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagenum1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{189, 189}</string>
			<key>spriteSourceSize</key>
			<string>{189, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 0}, {189, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagenum2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 189}</string>
			<key>spriteSourceSize</key>
			<string>{187, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 370}, {187, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagenum3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 379}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagenum4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 187}</string>
			<key>spriteSourceSize</key>
			<string>{187, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{763, 190}, {187, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagetype1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{189, 188}</string>
			<key>spriteSourceSize</key>
			<string>{189, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {189, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagetype2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 188}</string>
			<key>spriteSourceSize</key>
			<string>{187, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{763, 0}, {187, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>storagetype3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 188}</string>
			<key>spriteSourceSize</key>
			<string>{187, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 0}, {187, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>levlescene_default</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>levlescene_default_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>levlescene_default_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>