<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>apple-_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471, 122}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>apple-_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 127}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>apple-_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{479, 202}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>apple-_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 160}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>apple-_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{35, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 130}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blackbomb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 3}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_0_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{50, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 43}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_0_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {36, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 37}</string>
			<key>spriteSourceSize</key>
			<string>{50, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 87}, {36, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_0_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{50, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 43}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_0_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{50, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 170}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_0_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{50, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 43}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_11_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{44, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_11_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{44, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 44}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_11_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{44, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 125}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 10}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{44, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 87}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{44, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 169}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{44, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 0}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {40, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{40, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 130}, {40, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {40, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{40, 34}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 128}, {40, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {40, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{40, 32}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 176}, {40, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {40, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{40, 30}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 89}, {40, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_3_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {40, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{40, 34}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 4}, {40, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {38, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{38, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{293, 87}, {38, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_5_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {42, 34}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 45}, {42, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_5_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {42, 40}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{42, 40}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{53, 126}, {42, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_6_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{38, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 3}, {38, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_6_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 86}, {46, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_6_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {42, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 88}, {42, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_6_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {44, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 126}, {44, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_6_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 45}, {46, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_7_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {40, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{40, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{233, 2}, {40, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_7_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {42, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{42, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 46}, {42, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_7_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {42, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{42, 40}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 0}, {42, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {42, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{42, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 84}, {42, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_9_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {42, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{42, 34}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 126}, {42, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_9_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {42, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{42, 32}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 132}, {42, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_9_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {42, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 30}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 3}, {42, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boybird_9_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {42, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{42, 34}</string>
			<key>spriteSourceSize</key>
			<string>{50, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 166}, {42, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_0_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {54, 48}}</string>
			<key>spriteOffset</key>
			<string>{-7, -5}</string>
			<key>spriteSize</key>
			<string>{54, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 163}, {54, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_0_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {62, 48}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{62, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 162}, {62, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_0_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {58, 48}}</string>
			<key>spriteOffset</key>
			<string>{-5, -5}</string>
			<key>spriteSize</key>
			<string>{58, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 200}, {58, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_0_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {62, 48}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{62, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 161}, {62, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_0_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {62, 48}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{62, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 197}, {62, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_11_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {40, 39}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{40, 39}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 211}, {40, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_11_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 14}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 216}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_11_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 19}, {40, 33}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{40, 33}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 214}, {40, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_11_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 18}, {42, 33}}</string>
			<key>spriteOffset</key>
			<string>{4, -4}</string>
			<key>spriteSize</key>
			<string>{42, 33}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 217}, {42, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_11_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 14}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3, 215}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 11}, {38, 39}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{38, 39}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 406}, {38, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 410}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {40, 33}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{40, 33}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 409}, {40, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 18}, {42, 33}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{42, 33}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 413}, {42, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_2_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {42, 37}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{42, 37}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 408}, {42, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {45, 49}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{45, 49}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 252}, {45, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 13}, {45, 43}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{45, 43}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 252}, {45, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {45, 33}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{45, 33}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 266}, {45, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {45, 33}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{45, 33}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 263}, {45, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_3_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 13}, {45, 43}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{45, 43}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{5, 262}, {45, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 310}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_5_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {52, 48}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{52, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 309}, {52, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_5_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {48, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{48, 40}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 314}, {48, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_5_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 314}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_5_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {52, 48}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{52, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 310}, {52, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_6_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 14}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 363}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_6_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 20}, {50, 30}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{50, 30}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 367}, {50, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_6_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 20}, {48, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{48, 30}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 371}, {48, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_6_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 20}, {54, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{54, 30}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 370}, {54, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_6_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 20}, {50, 30}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{50, 30}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 372}, {50, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_7_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{10, 456}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_7_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {52, 50}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{52, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 453}, {52, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_7_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 14}, {50, 40}}</string>
			<key>spriteOffset</key>
			<string>{4, -4}</string>
			<key>spriteSize</key>
			<string>{50, 40}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 461}, {50, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_7_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {52, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 459}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_7_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {52, 50}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{52, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 459}, {52, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {43, 49}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{43, 49}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{313, 250}, {43, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_9_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 13}, {45, 41}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{45, 41}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 462}, {45, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_9_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 21}, {45, 33}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{45, 33}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{313, 308}, {45, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_9_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 21}, {45, 33}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{45, 33}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 355}, {45, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boypig_9_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 13}, {45, 41}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{45, 41}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 403}, {45, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>candy-_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {34, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{34, 22}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 208}, {34, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>candy-_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {34, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{34, 22}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 171}, {34, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cheese-_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {36, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{36, 32}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 168}, {36, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cheese-_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {36, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{36, 32}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 205}, {36, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crystallball.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 3}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girlbird_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{463, 241}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girlbird_3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 288}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girlbird_3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 32}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 332}, {34, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girlbird_9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 334}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girlbird_9_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 34}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 288}, {34, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girlbird_9_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {34, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 32}</string>
			<key>spriteSourceSize</key>
			<string>{38, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 245}, {34, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice+.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {44, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{44, 46}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 67}, {44, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ice-.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 6}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pepper+.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{50, 48}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{459, 61}, {50, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pepper-.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 64}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 11}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 338}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {39, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 382}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {35, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{35, 36}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 243}, {35, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {39, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 292}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 11}, {41, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{41, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 424}, {41, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {39, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471, 378}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {35, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{35, 36}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{433, 423}, {35, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snake_9_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {39, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{39, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 382}, {39, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>elements</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>elements_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>elements_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>